.mh-300-px {
  max-height: 300px;
}

select:invalid {
  color: #95aac9;
}

//@media only screen and (max-width: 600px) {
//  .card {
//    border-width: 0 !important;
//    background-color: transparent;
//    box-shadow: none;
//  }
//  .card-body {
//    padding-left: 0 !important;
//    padding-right: 0 !important;
//  }
//}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
